﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layout @ViewBag.Title - VNExpress</title>
</head>
<body>
    @RenderBody() 
</body>
</html>
