﻿
@{
        Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Home - Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>VNexpress</title>
    <link href="~/Content/Css/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="top_bar">
        <div class="main_bar">
            <div class="contact_left">
                <span>0123.888.0123 (HN) - 0129.233.3555 (TP HCM)</span>
                <a href="#">Liên hệ quảng cáo</a>
                <button class="like-button">Like</button>
                <button class="follow-button">Follow</button>
                <button class="youtube-button">YouTube</button>
            </div>
            <div class="login_right">
                <button class="login-button">Đăng nhập</button>
                <button class="login-button">Đăng ký</button>
                <input type="text" class="search-bar" placeholder="Tìm kiếm...">
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="banner_container">
            <img src="~/Content/Banner/Logo_Vnexpress.png" />
            <img src="~/Content/Banner/banner-ads-2.png" />
            <img src="~/Content/Banner/banner-ads-1.png" />
        </div>
        <div class="main_content">

        </div>
    </div>

</body>
</html>
